[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary
[submodule "bundle/vim-node.js"]
	path = bundle/vim-node.js
	url = git://github.com/mmalecki/vim-node.js
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = git://github.com/leshill/vim-json
[submodule "bundle/vim-jade"]
	path = bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "bundle/vim-css3-syntax"]
	path = bundle/vim-css3-syntax
	url = git://github.com/hail2u/vim-css3-syntax
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = git://github.com/groenewege/vim-less
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown
[submodule "bundle/simple-pairs"]
	path = bundle/simple-pairs
	url = git://github.com/vim-scripts/simple-pairs
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = git://github.com/terryma/vim-multiple-cursors
[submodule "bundle/vim-golang"]
	path = bundle/vim-golang
	url = git://github.com/jnwhiteh/vim-golang
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git://github.com/SirVer/ultisnips
[submodule "bundle/vim-bufferline"]
	path = bundle/vim-bufferline
	url = git://github.com/bling/vim-bufferline
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git://github.com/bling/vim-airline
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim
[submodule "bundle/ctrlp-funky"]
	path = bundle/ctrlp-funky
	url = git://github.com/tacahiroy/ctrlp-funky
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git://github.com/sjl/gundo.vim
